



<nav class="navbar navbar-expand-sm navbar-light bg-light .container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto container">
        <li class="nav-item dropdown col">
        <div class="topoption"><a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> +Edit+ </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", contacts_edit_path(current_user.contact), class: "dropdown-item" %>
                <%= link_to "Apply for Role-Luthier", luthier_invitations_edit_path, class: "dropdown-item" %>
                <%= link_to "Apply for Role-Musician", musician_invitations_edit_path, class: "dropdown-item" %>
                <% link_to "Subscriptions", products_path, class: "dropdown-item" %>
            </div>
        </div>
        </li>
        <li class="nav-item dropdown col">
        <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> +Home+ </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="" class="dropdown-item">Message</a>
                <div class="dropdown-divider"></div>
                <%= link_to ("Logout: " + current_user.email), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
        </div>
        </li>
        <li class="nav-item dropdown col">
        <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> +Browse+ </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <%= link_to "Browse Products", products_path, class: "dropdown-item" %>
                <%= link_to "Browse Media", media_path, class: "dropdown-item" %>
                <%= link_to "Filter Products", filters_search_path(type: "product"), class: "dropdown-item" %>
                <%= link_to "Filter Media", filters_search_path(type: "medium"), class: "dropdown-item" %>
                <!--- <form class="form-inline my-2 my-lg-0 dropdown-item" action="/filters/search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="word">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>--->

                
                
            </div>
        </div>
        </li>
    </ul>
    </div>
</nav>
