



<nav class="navbar navbar-expand-sm navbar-light bg-light .container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto container">
        <li class="nav-item dropdown col">
        <div class="topoption"><a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> +Edit+ </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%# To edit user's Profile (contact info) %>
                <%= link_to "Profile", contacts_edit_path(current_user.contact), class: "dropdown-item" %>
                <%# To apply for luthier's role, in luthier_invitation's view page %>
                <%= link_to "Apply for Role-Luthier", luthier_invitations_edit_path, class: "dropdown-item" %>
                <%# To apply for musician's role, in musician_invitation's view page %>
                <%= link_to "Apply for Role-Musician", musician_invitations_edit_path, class: "dropdown-item" %>
                <%# To edit subscription list (under construction) %>
                <%# link_to "Subscriptions", products_path, class: "dropdown-item" %>
            </div>
        </div>
        </li>
        <li class="nav-item dropdown col">
        <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> +Home+ </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <div class="dropdown-divider"></div>
                <%# To logout %>
                <%= link_to ("Logout: " + current_user.email), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
        </div>
        </li>
        <li class="nav-item dropdown col">
        <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> +Browse+ </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <%# To products page %>
                <%= link_to "Browse Products", products_path, class: "dropdown-item" %>
                <%# To media page %>
                <%= link_to "Browse Media", media_path, class: "dropdown-item" %>
                <%# To contacts page %>
                <%= link_to "Browse Contacts", contacts_path, class: "dropdown-item" %>
                <%# To search products %>
                <%= link_to "Filter Products", filters_search_path(type: "product"), class: "dropdown-item" %>
                <%# To search media %>
                <%= link_to "Filter Media", filters_search_path(type: "medium"), class: "dropdown-item" %>
                

                
                
            </div>
        </div>
        </li>
    </ul>
    </div>
</nav>
