<%# This is the page for entering invitation code applying luthier's role %>
<%# submitted message will be checked in controller, only a matched user will be granted %>


<%= render "shared/nav" %>

<%= render "shared/chose_nav" %>

<% if ((current_user.luthier == nil) and (current_user.musician == nil)) %>
    <div class="row justify-content-center p-2">
    <%# @inv is initialized in controller, msg sent to update action for check %>
    <%= form_for @inv do |i| %>
    <div class="pr-2">Enter Invitation Code:</div>
    <%= i.text_field(:msg) %>
    <%= i.submit("Apply as Luthier") %>
    <% end %>
    </div>
<% end %>

<%# <h1>LuthierInvitations#edit</h1>
<p>Find me in app/views/luthier_invitations/edit.html.erb</p> %>