

<%= render "shared/chose_nav" %>


<h1 class='container-fluid mb-0 mt-0'>Search in Products/Media</h1>
<form method='GET'>
    
    <ul id="explain">
        <li>Input word to be searched</li>
        <li>Prefix ! to negate</li>
        <li>Square-bracket [] for multiple words, seperated with comma, without space</li>   
    <ul>   
    <br>

<% if params[:type] == "product" %>
    <%= form_with(url: '/filters', method: "get") do %>
        <%= label_tag(:label, "Word to be searched for") %>
        <%= text_field_tag(:search) %>
        <%= submit_tag("search in products") %>
    <% end %>
<% end %>

<% if params[:type] == "medium" %>
    <%= form_with(url: '/filters', method: "get") do %>
        <%= label_tag(:label, "Word to be searched for") %>
        <%= text_field_tag(:search_medium) %>
        <%= submit_tag("search in media") %>
    <% end %>
<% end %>

<h1>Filters#search</h1>
<p>Find me in app/views/filters/search.html.erb</p>