<h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>

<%= render "shared/chose_nav" %>

<%# ability=Ability.new(current_user) %>
<%# if ability.can? :write, Product %>


<% if current_user == @product.luthier.user %>
    <%= form_for @product do |p| %>
    <div class="container p-3">

        <div class="row justify-content-center border border-dark rounded p-2">
                <div class="col">
                    <%= image_tag @product.picture, class: 'm-2 rounded img-thumbnail' if @product.picture.attached? %>
                    <%= p.label :picture %>
                    <%= p.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
                </div>
                <div class="col align-self-center">
                    <%= p.label(:name, class:"pr-2") %>
                    <%= p.text_field(:name) %>
                </div>
        </div>
        <div class="row justify-content-between border border-dark rounded p-2">
            <div class="col align-self-center p-2">
            <%= p.label(:category, class:"pr-2") %>
            <%= p.text_field(:category) %>
            </div>
            <div class="col align-self-center p-2">
            <%= p.label(:description, class:"pr-2") %>
            <%= p.text_area(:description, cols: "80", rows: "6") %>
            </div>
        </div>
        <div class="row justify-content-center border border-dark rounded p-2">
                <%= p.label(:base_price, class:"pr-2") %>
                <%= p.number_field(:base_price) %>
        </div>
        <div class="row justify-content-center p-2">
                
                <%= p.submit "Update"%>
        </div>

    </div>
    <% end %>

<% else %>
    <%# render :file => "/products/index.html.erb" %>
    <%= current_user %>
    <%= @product.luthier %>
    <%= @product.name %>
    <%= render plain: "Not authorized for editing this product." %>
    <%# redirect_to "/products" %>
<% end %>